{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    
<br><br><br><div class="home"><br>
    <div class="cont"> <br>
        <div style="overflow:auto">
            <div class="menu">
                <div class="card">
                    <img src="img_avatar2.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b>Jane Doe</b></h4> 
                      <p>Interior Designer</p> 
                    </div>
                  </div>                  
            </div>
          
            <div class="main">
              <h2>Lorum Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
          
            <div class="right">
              <h2>About</h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
          </div>
    </div>
</div>
{% endblock content %}